//
// FOUNDATION SETTINGS
//
@import "foundation/functions";

$rem-base: 16px;

$include-open-sans: false;

$include-html-classes: false;

$body-bg: rgb(236, 236, 236);
$body-font-family: 'Segoe UI', Helvetica, 'Liberation Sans', 'DejaVu Sans', Freesans, sans-serif;

// TYPE SETTINGS

$header-font-family: $body-font-family;
$header-font-weight: 600;

$paragraph-font-size: rem-calc(14);