@import 'settings';
$include-html-global-classes: true;
@import 'foundation/components/grid';
$include-html-top-bar-classes: true;
@import 'foundation/components/top-bar';
$include-html-panel-classes: true;
@import 'foundation/components/panels';
$include-html-type-classes: true;
@import 'foundation/components/type';
@import 'base';

body{
	@include grid-column(12, $collapse: true);
}
header,
main,
footer{
	@include grid-row(nest);
	margin: 0 auto;
}
.site-nav-title{
	font-family: Helvetica;
}
nav.top-bar{
  margin-bottom: 0;
}
.view {
	min-height: 500px;
}
.pane {
  text-align: center;
}
footer{
	background: rgb(201, 180, 159);
	padding: 10px;
	text-align: center;
	font-size: rem-calc(14);
	line-height: 120%;
}
