@import 'settings';
@import 'foundation/components/grid';
@import 'foundation/components/block-grid';

.projects-intro {
  @include grid-column(3);
}
.project-articles {
  @include grid-column(9);
  margin-top: 10px;
}
.articles-list {
  @include block-grid(3);
}
.project {
  min-height: 100px;
  p {
    font-size: 80%;
  }
}
