<!doctype html>
<html>
  {{> head}}

  <body class="<%= page_classes %>">
    {{> header}}
    {{{contents}}}
    {{> footer}}

    <script type="text/javascript">
      $(document).ready(function() {
        $(document).foundation();
      });
    </script>
  </body>
</html>
