---
title: About
stylesheets:
- about
- webicons
---
<main class="about view">
  <section class="about-intro">
    <h4>About Me</h4>
    <p>
      Although I am skilled in several disciplines, I'm more of a dynamic and multi-skilled
      Web Developer and Programmer with a passion for creating innovative and eccentric stuff, exploring
      and experimenting with new things, regardless of the brief.
    </p>
  </section>
  {{> intropane intro=music.[0]}}
  {{> intropane intro=code.[0]}}
</main>
