---
title: 'Margin: Auto'
stylesheets:
- blog
- webicons
---
{{#> default}}
<main class="blog view">
  <div class="margin-auto panel callout">
    <h2>Margin: Auto</h2>
    <h3>Imaginary Stochastic Thoughts</h3>
    <p>Coming Soon</p>
  </div>
</main>
{{/default}}
