---
title: Code
stylesheets:
- code
- webicons
---
<main class="code view">
  <section class="skills-intro">
    <h4>Code/Skills</h4>
    <p>Here is an overview of my development and coding skills. Have a look at my GitHub profile for some code samples.</p>
    {{> iconpane itemtype=code.id items=code.icons}}
  </section>
  {{> graph graphdata=dev}}
  {{> graph graphdata=skills}}
</main>
