---
title: Contact
stylesheets:
- contact
- webicons
---
<main class="contact view">
  <section class="contact-intro">
    <h4>Get in Touch for Thoughts over a Coffee - or just say Hello</h4>
    <p>
      So you want to contact me, right? Well, let's see. If you want to say hello, ask a question or share your thoughts,
      and succeed in the task of drafting an {{> mailto url="me@abhra.in" text="EMAIL" class="email-link"}}
      then you might just be able to do exactly that. I'll receive your message, read it, tear it up and throw
      it dramatically into the fire. Oh, and then I'll respond, of course.
    </p>
    <p>
      If you are writing because you think I would be a good fit for your project, please include as
      much relevant detail as possible, how you see I may best be of help, and the like. For everything
      else, type away, my friends. Type away!
    </p>
    <h4>Not a contact form person?</h4>
    <p>
      Not a contact form person? If you don't think you can handle it, use the icons below to track me
      around the world. It's not too hard to find me.
    </p>
    {{> social classnames="social-icons" contacts=contact.[0]}}
  </section>
  {{> email}}
</main>
