---
title: Credits
stylesheets:
- credits
---
<div class="credits view">
  <section class="credits-intro">
    <h4>Credits</h4>
    <p>
      This website has been proudly hand-crafted by me using
      <strong>{{> link text="Foundation" url="http://foundation.zurb.com/"}}</strong>
      and <strong>{{> link text="Gulp" url="http://http://gulpjs.com/"}}</strong>,
      taking advantage of the power of <strong>{{> link text="CoffeeScript" url="http://http://coffeescript.org/"}}</strong>
      and <strong>{{> link text="SASS" url="http://http://sass-lang.com/"}}</strong>.
      It is hosted using <strong>{{> link text="GitHub Pages" url="http://pages.github.com"}}</strong>.
    </p>
    <p>All Trademarks belong to their respective Owners.</p>
    <h6 class="other-components">Other components</h6>
    <ul class="credits-list">
      {{#each credits as |url source|}}
      <li>{{> link text=source url=url}}</li>
      {{/each}}
    </ul>
  </section>
  <section class="credits-components">

  </section>
</div>
